<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#/home">Node Map</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#/create">Add Project</a></li>
                    <li><a href="#/list">My Projects</a></li>
                    <li ng-click="Logout()"><a href="#/home">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="page-header">
    <h1 >Create New Project</h1>
</div>
<div class="row">
  <form novalidate name="contactForm" class="well form-container">
      <label>Name</label>
      <input ng-model="form.name" name="name" type="text" class="span6" placeholder="name" required />
      <span ng-show="contactForm.name.$error.required" class="help-inline">Required</span>

      <label>Start By</label>
      <input ng-model="form.start" name="start" type="date" min="{{minDateValidation}}" class="span6" placeholder="dd/mm/yyyy" required />
      <span ng-show="contactForm.start.$error.required" class="help-inline">Required</span>
      <span ng-show="contactForm.start.$error.min" class="help-inline">Date must be today or after </span>

      <label>Project Length</label>
      <input ng-model="form.projLength" min="1" name="projLength" type="number" class="span6" placeholder="in Weeks" required />
      <span ng-show="contactForm.projLength.$error.required" class="help-inline">Required</span>
      <span ng-show="contactForm.projLength.$error.min" class="help-inline">Must be 1 or greater</span>
      <p>This makes your project title and the about section public so people can vote on your idea!</p>
      <div class="checkbox">
        <label>
          <input ng-model="form.public" type="checkbox"> Make Public
        </label>
      </div>

      <label>About</label>
      <textarea rows="5" col="50" maxlength="144" ng-model="form.notes" name="notes" type="text" class="span6" placeholder="What's your project about?"  /></textarea>

      <div class="form-actions">
          <button ng-click="sendForm()" ng-disabled="contactForm.$invalid" class="btn btn-primary" >Create Project &raquo;</button>
          <button ng-click="resetForm()" class="btn">Reset</button>
      </div>

  </form>
</div>
