<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#/home">Road Map</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#/create">Add Project</a></li>
                    <li class="active"><a href="#/list">My Projects</a></li>
                    <li ng-click="Logout()"><a href="#/home">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="page-header">
    <h1 class="pad15"  ng-model="user">{{user.name}}'s Projects</h1>
</div>
<div class="row">
  <table style="width:95%;padding:0px;margin-left:25px">
    <tr>
      <td class="center"><strong>Name </strong></td>
      <td class="center"><strong>Start Date</strong></td>
      <td class="center"><strong>Project Length</strong></td>
      <td class="center"><strong>Progress</strong></td>
      <td class="center"><strong>About</strong></td>
      <td class="center"><strong>Votes</strong></td>
      <td class="center"><strong>Public</strong></td>

    </tr>
  <tr ng-model="data" ng-repeat="d in data">
    <td class="tName center">{{d.name}}</td>
    <td class="tStart center">{{d.start | date: 'shortDate'}}</td>
    <td class="tLength center">{{d.length}} Weeks</td>
    <td class="tProgress">
      <div class="progress">
        <div class="bar bar-success" role="progressbar" aria-valuenow="{{d.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{d.progress}}%;">
          {{d.progress}}%
        </div>
      </div>
    </td>
    <td class="tNotes pad15">{{d.notes}}</td>
    <td class="tName pad15 center">{{d.votes}}</td>
    <td ng-show="{{d.public}}" ng-hide="!{{d.public}}" class="tLength pad15">True</td>
    <td ng-hide="{{d.public}}" ng-show="!{{d.public}}" class="tLength pad15">False</td>
    <td class="tButton"><button ng-click="setModalData(d, $index)" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary" >Edit</button></td>
    <td class="tButton"><button ng-click="delete(d)" class="btn">Delete</button></td>

    <div ng-model="modalData" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel"> Edit {{modalData.name}}</h4>
          </div>
          <div class="modal-body">
            <form name="modalForm">
              <div class="form-group">
                <label for="name" class="control-label" placeholder>Name:</label>
                <input ng-model="modalData.name" type="text" class="form-control" id="name" value="{{modalData.name}}">
              </div>
              <div class="form-group">
                <label for="date" class="control-label" placeholder>Start Date:</label>
                <input ng-model="modalData.start" type="date" class="form-control" id="date" value="{{modalData.start}}">
              </div>
              <div class="form-group">
                <label for="length" class="control-label" placeholder>Length(in Weeks):</label>
                <input ng-model="modalData.length" type="number" string-to-number min="1" class="form-control" id="length" placeholder="{{modalData.length}}">
              </div>
              <div class="form-group">
                <label for="progress" class="control-label" placeholder>Progress (%):</label>
                <input ng-model="modalData.progress" type="number" string-to-number min="0" class="form-control" id="progress" placeholder="{{modalData.progress}}">
              </div>
              <p>This makes your project title and notes public so people can vote on your idea!</p>
              <div class="checkbox">
                <label> Public
                  <input ng-model="modalData.public" type="checkbox" ng-click="checkBox()" ng-checked="modalData.public">
                </label>
              </div>
              <div class="form-group">
                <label for="notes" class="control-label" placeholder>About:</label>
                <input ng-model="modalData.notes" type="text" class="form-control" id="notes" value="{{modalData.notes}}">
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="updateProject(modalData)" data-dismiss="modal">Update</button>
          </div>
        </div>
      </div>
    </div>
  </tr>
</table>
</div>
