/* app css stylesheet */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.center {
  text-align:center;
}
.noDecorate {
  text-decoration:none !important;
  color:inherit;
  font-size: .8em;
}

.tName {
  width:5%;
}
.tStart {
  width:5%;
}
.tLength {
  width:5%;
}
.tProgress {
  width:15%;
}

.tNotes {
  width:45%;
}

.tButton {
  width:5%;
}

.center {
  text-align: center;
}

.pad15 {
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
}

.hero-unit {
  background-color: #fff !important;
  padding: 120px !important;
}
.home-table {
  width:90%;
  padding:25px;
  margin-left:15px
}

.navbar-inverse .navbar-inner {
  background-color: #101010 !important;
  background-image: none !important;
  border-color: #eb6a5a !important;
}

.well {
  margin-left: 19px;
}

@media (min-width: 1200px)
{
  .row {
    margin-left: 0px !important;
  }
}

.pad25 {
  padding-top: 25px;
}

.hero-unit {
  border-radius: 6px;
  color: white !important;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://download.unsplash.com/photo-1428677361686-f9d23be145c9");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-position-y: 100%;
  margin-top: -19px;
}


/********* home page ng-repeat animation ************/
.my-home.ng-enter {
  /* standard transition code */
  transition: 1.5s linear all;
  opacity:0;
}
.my-home.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.5s;

  /* in case the stagger doesn't work then the duration value
   must be set to 0 to avoid an accidental CSS inheritance */
  transition-duration: 0s;
}
.my-home.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}

/********* list page ng-repeat animation ************/
.my-list.ng-enter {
  /* standard transition code */
  transition: 0.5s linear all;
  opacity:0;
}
.my-list.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.5s;

  /* in case the stagger doesn't work then the duration value
   must be set to 0 to avoid an accidental CSS inheritance */
  transition-duration: 0s;
}
.my-list.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}

.btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: flat;
  transition: all 250ms ease-out;
  background-image:none !important;
}

.btn::before, .btn::after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}

.paper-raise::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.paper-raise::hover {
    border: 1px solid #fff;
  }

.paper-raise::before {
			box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    }
.red {
  background-color:#eb6a5a !important;
  color: white !important;
}

.three-js-container {
  margin-top:-23px;
}

.three-text {
  margin-top: -615px;
  position: relative;
  margin-bottom: 415px;
  color: white;
}

.margin-top-25 {
  margin-top:25px;
}

.progress {
  margin-bottom:0px !important;
}

.no-margin {
  margin:0px !important;
}

.well {
  margin-right: 19px;
}