/* app css stylesheet */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.center {
  text-align:center;
}
.noDecorate {
  text-decoration:none;
  color:inherit;
}

.tName {
  width:5%;
}
.tStart {
  width:5%;
}
.tLength {
  width:5%;
}
.tProgress {
  width:15%;
}

.tNotes {
  width:45%;
}

.tButton {
  width:5%;
}

.center {
  text-align: center;
}

.pad15 {
  padding-left:15px;
  padding-right:15px;
}

.hero-unit {
  background-color: #fff !important;
  padding: 120px !important;
}
.home-table {
  width:90%;
  padding:25px;
  margin-left:15px
}

.navbar-inverse .navbar-inner {
  background-color: #101010 !important;
  background-image: none !important;
  border-color: #eb6a5a !important;
}

.well {
  margin-left: 19px;
}

@media (min-width: 1200px)
{
  .row {
    margin-left: 0px !important;
  }
}
