<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#/home">Road Map</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#/home">Home</a></li>
                    <li><a href="#/login">Signup / Login</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1 class="center"> Road Map </h1>
    <h2 class="center">A simple way to track your programming projects.</h2>
    <p class="center">
      Use Road Map to keep track of all the projects you want to start and when you want to start them by.
    </p>
    <p class="center">
      Make your project public and have people upvote or downvote the idea.
    </p>

    <p class="center"><a href="#/signup" class="btn btn-primary btn-large">Sign Up</a></p>
</div>
<!-- Public Projects -->
<div class="row">
  <h1 class="center"> Check out some project ideas! </h1> <br>
  <table class="home-table">
    <tr>
      <td class="center"><strong>Project Name</strong></td>
      <td class="center"><strong>Progress</strong></td>
      <td class="center"><strong>About</strong></td>
      <td class="center"><strong>Score</strong></td>
      <td class="center"><strong>Upvote</strong></td>
      <td class="center"><strong>Downvote</strong></td>
    </tr>
  <tr ng-model="data" ng-animate="'animate'" ng-repeat="d in data | orderBy:'-votes'" >
    <td class="tProgress center">{{d.name}}</td>
    <td class="tProgress">
      <div class="progress">
        <div class="bar bar-success" role="progressbar" aria-valuenow="{{d.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{d.progress}}%;">
          {{d.progress}}%
        </div>
      </div>
    </td>
    <td class="tNotes pad15">{{d.notes}}</td>
    <td class="tNotes pad15 center">{{d.votes}}</td>
    <td class="tNotes pad15"><button ng-click="upvote(d, $index)" class="btn btn-primary">Upvote</button></td>
    <td class="tNotes pad15"><button ng-click="downvote(d, $index)" class="btn">Downvote</button></td>
  </tr>
</table>
</div>
</div>
