<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Wishful Thinking</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ><a href="#/home">Home</a></li>
                    <li class="active"><a href="#/login">Signup / Login</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="page-header center">
    <h1 >Create An Account</h1>
    <button  class="btn btn-primary" ><a class="noDecorate" href="#/login">... Or Log In</a></button>

</div>

<!-- Note that novalidate is used to disable browser's native form validation. -->
<div class="row">
  <form novalidate name="contactForm" class="well form-container">
      <label>Name</label>
      <input ng-model="form.name" name="name" type="text" class="span6" placeholder="name" required />
      <span ng-show="contactForm.name.$error.required" class="help-inline">Required</span>

      <label>Email address</label>
      <input ng-model="form.email" name="email" type="email" class="span6" placeholder="email" required />
      <span ng-show="contactForm.email.$error.required" class="help-inline">Required</span>
      <span ng-show="contactForm.email.$error.email" class="help-inline">Error</span>

      <label>Password</label>
      <input ng-model="form.password" min="5" name="password" type="password" class="span6" placeholder="password" required />
      <span ng-show="contactForm.password.$error.required" class="help-inline">Required</span>
      <span ng-show="contactForm.password.$error.password" class="help-inline">Error</span>

      <div class="form-actions">
          <button ng-click="sendForm()" ng-disabled="contactForm.$invalid" class="btn btn-primary" >Create Account &raquo;</button>
          <button ng-click="resetForm()" class="btn">Reset</button>
      </div>

  </form>
</div>

<!-- Just for testing
<h3>Debug output</h3>
<pre>
 sent form = {{lastForm | json}}
 result = {{resultData | json}}


</pre>
-->
